@model MemesProject.Models.Meme
@using MemesProject.Models.ViewModels;

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <div class="center shadow-full">
        <div class="memecontainer">
            <div class="rounded item">
                <div class="memetitle"> @Html.DisplayFor(model => model.Title) </div>
                @Html.ActionLink(Model.IdUser,"GetUserInformation","User",new { id = Model.IdUser })
                @{
                    string base64 = Convert.ToBase64String(Model.File);
                    string imagesrc = "data:image/png;base64," + base64; 
                }
                <img src="@imagesrc" class="imgmiddle" alt="@Html.DisplayFor(model => model.DescriptionAlt)">

                <row class="buttons">
                    <button class="transbutton">
                   
                        @if(Model.IsFavourited)
                        {
                              <img src="/images/heart.png" id="@Model.IdMeme" class="UnLikeImage"  title="Remove an image from Favourites"   alt="Dodaj do ulubionych">
                        }
                        else               
                        {
                              <img src="/images/heartEmpty.png" id="@Model.IdMeme" class="likeImage"  title="Add an image to Favourites"   alt="Dodaj do ulubionych">
                        }
                    </button>
                    <button class="transbutton">
                         @if(Model.IsLiked)
                                        {
                                <img src="/images/likeFull.png" id="@Model.IdMeme" class="UnfavouriteImage" title=Unlike Image"   alt="Polub">
                                        }
                                        else
                                        {
                                 <img src="/images/like.png" id="@Model.IdMeme" class="favouriteImage" title="Like Image"   alt="Polub">
                        }
                                      <div id="numberLike @Model.IdMeme">@Model.Likes</div>      
                
                    </button>
                </row>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMeme">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

   @{await Html.RenderPartialAsync("_CommentsHubPartial", new CommentViewModel { IdMeme=Model.IdMeme });}
}