@model IEnumerable<MemesProject.Models.Meme>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach(Meme meme in Model)
    {
    <div class="center shadow-full">
        <div class="memecontainer">
            <div class="rounded item">
                <div class="memetitle"> @meme.Title </div>
                <div class="Autor"> @meme.IdUser </div>
                <a asp-action="Details" asp-route-id="@meme.IdMeme">
                    @{
                        string base64 = Convert.ToBase64String(meme.File);
                        string imagesrc = "data:image/png;base64," + base64; 
                    }
                    <img src="@imagesrc" class="imgmiddle" alt="@meme.DescriptionAlt">
                </a>
                <row class="buttons">
                    <button class="transbutton">
                   
                        @if(meme.IsLiked)
                        {
                              <img src="/images/ww.png" id="@meme.IdMeme" class="UnLikeImage"  title="UnLike Image"   alt="Dodaj do ulubionych">
                        }
                        else
                        {
                              <img src="/images/heartEmpty.png" id="@meme.IdMeme" class="likeImage"  title="Like Image"   alt="Dodaj do ulubionych">
                        }
                  
                    </button>
                    <button class="transbutton">
                         @if(meme.IsFavourited)
                                        {
                                <img src="/images/ww.png" id="@meme.IdMeme" class="UnfavouriteImage" title="Remove an image from Favourites"   alt="Polub">
                                        }
                                        else
                                        {
                                             <img src="/images/like.png" id="@meme.IdMeme" class="favouriteImage" title="Add an image to Favourites"   alt="Polub">
                        }
                
                    </button>
                </row>
            </div>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@meme.IdMeme">Edit</a>
    <a asp-action="Details" asp-route-id="@meme.IdMeme">Details</a>
    <a asp-action="Delete" asp-route-id="@meme.IdMeme">Delete</a>
    }

    

@section Scripts {
   <script>


      $(document).ready(function(){
  $(".likeImage, .UnLikeImage").click(function(){

   var $img = $(this);
   var memeId = $img.attr("id");

         $.ajax({  
                url: "/Memes/LikeMeme?memeId="+memeId,  
                contentType: "application/json; charset=utf-8",  
                dataType: "text",  
                success: function(response) {  
                    if (response != null) {  


                if($img.hasClass('likeImage')){
                        $img.attr('src', '/images/ww.png').removeClass("likeImage").addClass("UnLikeImage").removeAttr('title').attr('title','UnLike Image');;
                }else{
                       $img.attr('src', '/images/heartEmpty.png').removeClass("UnLikeImage").addClass("likeImage").removeAttr('title').attr('title','Like Image');;;
                }
                    } else {  
                   
                    }  
                },  
                failure: function(response) {  
                    
                },  
                error: function(response) {  
            
                }  
            });
    
  });
});
        
   </script>
   <script>
        $(document).ready(function(){
  $(".favouriteImage, .UnfavouriteImage").click(function(){

   var $img = $(this);
   var memeId = $img.attr("id");
         $.ajax({  
                url: "/Memes/FavouriteMeme?memeId="+memeId,  
                type:"GET", 
                contentType: "application/json; charset=utf-8",  
                dataType: "text",  
                success: function(response) {  
                    if (response != null) {  

                if($img.hasClass('favouriteImage')){
                         $img.attr('src', '/images/ww.png').removeClass("favouriteImage").addClass("UnfavouriteImage").removeAttr('title').attr('title','Remove an image from Favourites');
                }else{
                       $img.attr('src', '/images/like.png').removeClass("UnfavouriteImage").addClass("favouriteImage").removeAttr('title').attr('title','Add an image to Favourites');;
                }
                    } else {  
                   
                    }  
                },  
                failure: function(response) {  
                    
                },  
                error: function(response) {  
            
                }  
            });
    
  });
});


   </script>
}

