@model UserInformation

@{
    ViewData["Title"] = "User Information";
}

     @{
      var base64 = Convert.ToBase64String(@Model.AvatarImage);
      var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
     }


<div class="container border">
    <br />
     <div class="row">
         <div class="d-flex justify-content-center">
           
                <div class="col-sm-2">
               <img src="@imgsrc" class="avatar-Info-Page" alt="User Avatar Image" />

                </div>
           
                <div class="col-sm-3">
                    <div class="row">
                        <p>@Model.Username</p>
                    </div>
                     <div class="row">
                        <p>Data Założenia: @Model.AccountRegisterDate</p>
                    </div>
                     <div class="row">
                        <p>Ilość komentarzy:@Model.IloscKomentarzy</p>
                    </div>
                     <div class="row">
                        <p>Ilość Memów:@Model.IloscMemow</p>
                    </div>
      
                </div>
                   <div class="col-sm-3 border border-dark">
                       Osoby Obserwujące
                   </div>
                </div>

     
</div>
<br />
    <div class="col-md-2 offset-2">
     @if(User.Identity.IsAuthenticated)
     {    
         @if ( User.Identity.Name == @Model.Email)
         {
             <a  class="nav-link text-dark text-danger" asp-area="Identity" asp-page="/Account/Manage/Index" title="Edit Account">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edit Account</a>
         }
     }

</div>
<br />
</div>
